@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization

<div class="app-shell">
    <header class="site-header">
        <NavMenu />
    </header>

    <main class="main-shell">
        <article class="content">
            @Body
        </article>
    </main>
</div>