@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization

<div class="app-shell">
    <header class="site-header">
        <NavMenu />
    </header>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    @{
                        var username = context.User.Identity?.Name?.Split('@')[0];

                        var firstPart = username?
                            .Split(new[] { '.', '_' }, StringSplitOptions.RemoveEmptyEntries)
                            .FirstOrDefault();

                        var displayName = string.IsNullOrEmpty(firstPart)
                            ? "User"
                            : char.ToUpper(firstPart[0]) + firstPart.Substring(1);
                    }

                    <span>Hello, @displayName!</span>
                    <form method="post" action="/Account/Logout" style="display: inline;">
                        <button type="submit" class="btn btn-link nav-link ms-3"
                                style="padding: 0; border: 0; background: none;">Log out</button>
                    </form>
                </Authorized>
                <NotAuthorized>
                    <a href="/Account/Login">Log in</a>
                    <a href="/Account/Register" class="ms-3">Register</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

